
{% extends 'base1.html.twig' %}
{% block body %}

    <div  id="id_table">
       
        
        {% for livre in livres %}
           
            <div class="templatemo_product_box">
            	 <h1 id="id_h1">{{ livre.Titre }} </h1>
   	                 <img src="{{ asset('images/' ~ livre.image)}}" alt="image"
                       style="width:100 px; height:125px;"/>
                     <div class="product_info">
                         <h3>{{ livre.Prix }} Dt</h3>
                         <div class="buy_now_button"><a href={{ path('cart_add', {'id': livre.id})}}>Buy Now</a></div>
                         <div class="detail_button"><a href="{{ path('livre_show', {'id': livre.id}) }}">Detail</a></div>
                     </div>
               
            </div>            
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
    </div>
    <div id="templatemo_content">
    {{ knp_pagination_render( livres )}}
    </div>
{% endblock %}
