{% extends 'base1.html.twig' %}

{% block title %}Livre {% endblock %}

{% block body %}  
        <h1>Liste des Livres</h1>

    <table class="table table-bordered" >
        <thead id="id_h1" height="35px" padding: 10px;> 
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
              
                <th>Prix</th>
                <th>Categorie</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>  <img src="{{ asset('images/' ~ livre.image)}}" alt="image"
                       style="width:100 px; height:100px;"/></td>
                <td>{{ livre.Titre }}</td>
             
                <td>{{ livre.Prix }}</td>
                <td>{{ livre.categorie.nom }}</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                </td>
                <td>    
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livre_new') }}">Create new</a>
             <!--<div class="templatemo_product_box">
            	<h1>Cooking  <span>(by Suneeta Vaswani)</span></h1>
       	     <img src="{{asset('images/templatemo_image_02.jpg')}}" alt="image" />
                <div class="product_info">
                	<p>Aliquam a dui, ac magna quis est eleifend dictum.</p>
                    <h3>35dt</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
             </div>
            
            
              <div class="cleaner_with_height">&nbsp;</div>
            
              <div class="templatemo_product_box">
            	<h1>Gardening <span>(by Beth Chatto)</span></h1>
   	         <img src="{{asset('images/templatemo_image_03.jpg')}}" alt="image" />
                <div class="product_info">
                	<p>Ut fringilla enim sed turpis. Sed justo dolor, convallis at.</p>
                    <h3>65dt</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                   </div>
                   <div class="cleaner">&nbsp;</div>
                 </div>
            
                 <div class="cleaner_with_width">&nbsp;</div>
            
                 <div class="templatemo_product_box">
            	   <h1>Sushi Book  <span>(by Yuzuru Taschibana)</span></h1>
            	  <img src="{{asset('images/templatemo_image_04.jpg')}}" alt="image" />
                   <div class="product_info">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    <h3>$45</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                  </div>
                   <div class="cleaner">&nbsp;</div>
                 </div>
            
                 <div class="cleaner_with_height">&nbsp;</div>
            
                 <a href="subpage.html"><img src="images/templatemo_ads.jpg" alt="ads" /></a>-->
          <!-- end of content right -->   
            
{% endblock %}
