{% extends 'base1.html.twig' %}

{% block title %}Livre{% endblock %}
     
{% block body %}
   <h2>Categorie {{categorie.nom}}</h2>



          <div id="templatemo_content_right">
            {% for livre in livres %}
            <div class="templatemo_product_box">
              <h1 id="id_h1">{{ livre.Titre }} </h1>
                     <img src="{{ asset('images/' ~ livre.image)}}" alt="image"
                      style="width:100 px; height:125px;"/>
                    <div class="product_info">
                        <h3>{{ livre.Prix }} Dt</h3>
                        <div class="buy_now_button"><a href="#">Buy Now</a></div>
                        <div class="detail_button"><a href="{{ path('livre_show', {'id': livre.id}) }}">Detail</a></div>
                    </div>
              
           </div>       
            <div class="cleaner_with_width">&nbsp;</div>
            {%endfor%}
         
            
            
        </div> <!-- end of content right -->
{% endblock %}    