{% extends 'base1.html.twig' %}

{% block title %}Livre {% endblock %}

{% block body %}  
        <div id="templatemo_content_right">
            {% for i in livres %}
            
        	     <div class="templatemo_product_box">

                     {% for livre in livres %}
                 
                     <h1>{{ livre.Titre }}</h1>
                    
                     {% endfor %}
   	                 <img src="{{asset('images/templatemo_image_01.jpg')}}" alt="image" />
                     <div class="product_info">
                	     <p>How to Shoot Great Photographs with Any Camera...</p>
                  
                          <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                         <div class="detail_button"><a href="/showuser">Detail</a></div>
      sliding              
                     </div>
                     <div class="cleaner">&nbsp;</div>
                 </div>
            
                 <div class="cleaner_with_width">&nbsp;</div>
            {% endfor %}
            <div class="cleaner_with_width">&nbsp;</div>
        </div>   
          
            
             <!--<div class="templatemo_product_box">
            	<h1>Cooking  <span>(by Suneeta Vaswani)</span></h1>
       	     <img src="{{asset('images/templatemo_image_02.jpg')}}" alt="image" />
                <div class="product_info">
                	<p>Aliquam a dui, ac magna quis est eleifend dictum.</p>
                    <h3>35dt</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
             </div>
            
            
              <div class="cleaner_with_height">&nbsp;</div>
            
              <div class="templatemo_product_box">
            	<h1>Gardening <span>(by Beth Chatto)</span></h1>
   	         <img src="{{asset('images/templatemo_image_03.jpg')}}" alt="image" />
                <div class="product_info">
                	<p>Ut fringilla enim sed turpis. Sed justo dolor, convallis at.</p>
                    <h3>65dt</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                   </div>
                   <div class="cleaner">&nbsp;</div>
                 </div>
            
                 <div class="cleaner_with_width">&nbsp;</div>
            
                 <div class="templatemo_product_box">
            	   <h1>Sushi Book  <span>(by Yuzuru Taschibana)</span></h1>
            	  <img src="{{asset('images/templatemo_image_04.jpg')}}" alt="image" />
                   <div class="product_info">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    <h3>$45</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                  </div>
                   <div class="cleaner">&nbsp;</div>
                 </div>
            
                 <div class="cleaner_with_height">&nbsp;</div>
            
                 <a href="subpage.html"><img src="images/templatemo_ads.jpg" alt="ads" /></a>-->
          <!-- end of content right -->   
            
{% endblock %}
